.btn-white{
	background-color: white;
	padding: 15px 20px;
	border-radius: 4px;
	color: darkred;
	font-weight: bold;
	border-color: black;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	font-size: 20px;
	text-decoration: none;
}

.btn-white:hover{
	background-color:lightgray ;
	color: darkgoldenrod;